* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(236, 235, 235);
}

/* ---------------------------- HEADING TEXT ----------------------------- */

.heading {
    float: left;
    width: 35vw;
    min-height: 10vh;
    padding-top: 30vh;
    padding-left: 10vw;
}

.heading > h1 {
    font-size: 4rem;
    color: blue;
    font-weight: 900;
    margin-bottom: 20px;
}

.heading > p {
    font-size: 1.5rem;
    line-height: 2rem;
}

/* ---------------------------- FORM ------------------------------------- */

.form {
    float: right;
    margin: 20vh 15vw;
}

.world form {
    height: 50vh;
    width: 30vw;
    background-color: white;
    border: 2px solid rgb(233, 233, 233);
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
}

.email input, .password input {
    display: block;
    margin: 20px auto;
    height: 60px;
    width: 90%;
    padding: 15px;
    font-size: 17px;
    border: 0.5px solid rgb(202, 202, 202);
    border-radius: 5px;
}

.submit-btn {
    display: block;
    margin: 30px auto;
    height: 50px;
    width: 90%;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 25px;
    font-weight: 900;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: rgb(88, 88, 247);
}

a.forgot-link {
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    width: 40%;
}

form a:hover {
    color: red;
}

.form hr {
    margin: 40px 30px;
}

.new-account-btn {
    display: block;
    background-color: rgb(23, 192, 1);
    color: white;
    height: 60px;
    width: 70%;
    margin: 20px auto;
    font-size: 22px;
    font-weight: 900;
    border-radius: 5px;
    border: none;
}

.new-account-btn:hover {
    background-color: rgb(19, 161, 0);
    cursor: pointer;
}

.text-under-form {
    font-size: 20px;
    margin: 30px 55px;

}
